<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>β大ヴァロ予想王</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='homestyle.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='ShowRacePage.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='entryhorsetable.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='resulttable.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='race_video.css') }}">
    </head>
    <body>
        <h2>大ヴァロ予想王</h2>
        {% include 'menubar.html' %}
        <h2>{{ race['race_name'] }}</h2>
        <img 
            src="https://raw.githubusercontent.com/mayo2451/miyakeiba/main/01miyakeiba%20-%20v1.1/Miyakeiba_app/image/race/grade/{{ race['race_grade'] }}.jpeg" 
            style="width: 20px; height: auto;" 
            class="race-grade" 
            alt="grade" 
            onerror="this.style.display='none';">
        <h2>{{ race['race_date'] }}</h2>
        <h2>{{ race['race_place'] }}</h2>
        <h2>{{ race['race_ground'] }}</h2>
        <h2>{{ race['race_distance'] }}</h2>
        <div class="tabs-container">
            <div class="button-container">
                <a href="#"class="btn btn-primary me-2" data-view="entries">出馬表</a>
                <a href="#"class="btn btn-outline-primary me-2" data-view="result">レース結果</a>
                <a href="#"class="btn btn-outline-primary me-2" data-view="video">映像</a>
            </div>
            <div class="tab-content-container">
                <div id="entries-content" class="tab-content active">
                    {% include 'entries.html' %}
                </div>
                <div id="result-content" class="tab-content">
                    {% include 'race_result.html' %}
                </div>
                <div id="video-content" class="tab-content">
                    {% include 'race_video.html' %}
                </div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const buttons = document.querySelectorAll('.btn'); // すべてのボタンを取得
                const contents = document.querySelectorAll('.tab-content'); // すべてのコンテンツを取得
            
                buttons.forEach(button => {
                    button.addEventListener('click', (e) => {
                        e.preventDefault(); // ページ遷移を防止
            
                        const targetId = button.getAttribute('data-view') + '-content';
            
                        // ボタンの色を切り替える
                        // すべてのボタンからbtn-primaryクラスを削除し、btn-outline-primaryクラスを追加する
                        buttons.forEach(btn => {
                            btn.classList.remove('btn-primary');
                            btn.classList.add('btn-outline-primary');
                        });
                        
                        // クリックされたボタンにbtn-primaryクラスを再追加し、btn-outline-primaryクラスを削除する
                        button.classList.remove('btn-outline-primary');
                        button.classList.add('btn-primary');
            
                        // コンテンツの表示・非表示を切り替え
                        contents.forEach(content => content.classList.remove('active'));
                        document.getElementById(targetId).classList.add('active');
                    });
                });
            });
        </script>
    </body>
</html>
